.title-bar {
  display: block;
  padding-left: 20px;
}

.search-bar {
  display: block;
  font-size: 1.5em;
  width: 99%;
  padding: 8px 20px;
}

.movie-poster {
  width: 220px;
}

h1 {
  padding-left: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
